# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# TypeScript and JavaScript files
[*.{ts,tsx,js,jsx}]
charset = utf-8
indent_style = space
indent_size = 2

# JSON files
[*.json]
charset = utf-8
indent_style = space
indent_size = 2

# CSS and SCSS files
[*.{css,scss}]
charset = utf-8
indent_style = space
indent_size = 2

# HTML files
[*.html]
charset = utf-8
indent_style = space
indent_size = 2

# Markdown files
[*.md]
charset = utf-8
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
charset = utf-8
indent_style = space
indent_size = 2

# Configuration files
[*.{config.js,config.ts}]
charset = utf-8
indent_style = space
indent_size = 2